*{
    margin: 0;
    padding: 0;
}
html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
    background-color: rgb(200, 226, 248);
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
header {
  padding: 10px;
  background-color: rgb(6, 4, 102);
  display: flex; 
  align-items: center;
  width: 100%;
}
header a{
  background-color: rgb(6, 4, 102);
}
header img {
  object-fit: contain;
  width: 38px;       
  height: 50px;   
  margin-right: 10px;  
}
header h1 {
  float: left;
  color: white;
 
}
.topo{
  width: 100%;
}
.topo img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.texto-inicial{
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
}

.navios {
    background-color:rgb(200, 226, 248);
    columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    columns: 4;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .cards {
    width: 250px;
    border: 0;
    justify-content: space-between;
    margin: 15px;
    cursor: pointer;
    border: 0;
    flex-direction: column;
    background-color:white;
    border-radius: 8px;
    padding: 0.8rem;
    transition: transform 0.2s ease;
    column-gap: 10px;
    box-shadow: 20px 20px 50px -30px #2c0c33;
  }
  
  .cards:hover {
    transform: scale(1.1);
  }
  
  .cards img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  .cards h1{
    color:rgb(6, 4, 102);
    margin-bottom: 10px;
  }
  .cards p {
    color:black;
    text-align: left;
    font-size: small;
  }
  .cards button {
    background-color:rgb(6, 4, 102);
    border: 0;
    border-radius: 20px;
    padding: 0.5rem;
  }
  
  .cards button:hover {
    background-color: #1d20d8;
  }
  .cards a{
    color: white;
    text-decoration: none;
  }
  h2{
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color:rgb(6, 4, 102) ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: myanimation 3s infinite;
  }
  @keyframes myanimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .paises{
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: 20px 20px 50px -30px #2c0c33;
  }
  .lugares-impar{
    display: flex;
  }

  .lugares-impar img{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.4s ease;
  }
  .lugares-impar img:hover{
    transform: rotate(360deg);
  }
  .lugares-impar p{
    text-align: justify;
    margin: 15px ;
  }
  .lugares-impar p b{
  color: rgb(6, 4, 102);
}
  footer {
    text-align: center;
    background-color:white;
    border:2px solid  rgb(6, 4, 102);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  footer h1 {
    font-size: large;
    color: rgb(6, 4, 102);
  }
  
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(6, 4, 102);
    font-size: clamp(8px, 4vw, 16px);
    padding: 1rem;
  }
  
  .container-footer li {
    font-weight: bold;
    list-style: none;
    margin: 10px 0;
    color: #fff;
  }
  @media screen and (max-width: 600px) 
  {
   html{
    overflow-x: hidden;
   }
    .topo img{
      object-fit: cover;
      width: 100%;
      height: 100px;
    }
    .cards{
        margin:auto;
        margin-bottom: 20px;
    }
    .paises{
        padding-top: 15px;
    }
    .lugares-impar{
        flex-direction: column;
    }
    .lugares-impar img{
        margin:auto;
        width: 90%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
  }